/* 추가 링크 */
.additional-links {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 12px;
}

.additional-links a {
    color: var(--gray);
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}